<a href="https://colab.research.google.com/github/ua-datalab/DataEngineering/blob/main/07_Workshop_Mar_17_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install PyHive findspark thrift thrift-sasl

Collecting PyHive
  Downloading PyHive-0.7.0.tar.gz (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.5/46.5 kB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Collecting thrift
  Downloading thrift-0.16.0.tar.gz (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.6/59.6 kB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting thrift-sasl
  Downloading thrift_sasl-0.4.3-py2.py3-none-any.whl (8.3 kB)
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from PyHive) (0.18.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from PyHive) (2.8.2)
Requirement already satisfied: six>=1.7.2 in /usr/local/lib/python3.10/dist-packages (from thrift) (1.16.0)
Collecting pure-sasl>=0.6.2 (from thrift-sasl)
  Downloading pure-sasl-0.6.2.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: PyHive, thrift, pure-sasl
  Building wheel for PyHive (setup.py) ... done
  Created wheel for PyHive: filename=PyHive-0.7.0-py3-none-any.whl size=53872 sha256=53932ced59f87522fa7ba1c2a3bef7d4a1833e72c71ed64453b096c9fc39b267
  Stored in directory: /root/.cache/pip/wheels/d3/fc/31/6974270c69ccc5bf8f848e2e41b527d0e8f5b9b973696a29a9
  Building wheel for thrift (setup.py) ... done
  Created wheel for thrift: filename=thrift-0.16.0-cp310-cp310-linux_x86_64.whl size=373870 sha256=e25e1cae4e2a730bb132240d25ae5c64f2d100d1e52c04cfd1d659392ddc4829
  Stored in directory: /root/.cache/pip/wheels/52/f8/d2/acfd995e8247eb0cad372fa6a640a5fcf279ab2ed7c5c4490e
  Building wheel for pure-sasl (setup.py) ... done
  Created wheel for pure-sasl: filename=pure_sasl-0.6.2-py3-none-any.whl size=11422 sha256=b33ac24ecb3a655452cc75fcb4160eed289806dffd15c5f6f3e90330982a1cb9
  Stored in directory: /root/.cache/pip/wheels/57/7c/93/062238b0a68efe214024ca178233f248971045db1033c96a52
Successfully built PyHive thrift pure-sasl
Installing collected packages: pure-sasl, findspark, thrift, thrift-sasl, PyHive
Successfully installed PyHive-0.7.0 findspark-2.0.1 pure-sasl-0.6.2 thrift-0.16.0 thrift-sasl-0.4.3

In [2]:
from pyhive import hive
import pandas as pd

In [3]:
conn = hive.Connection(host='35.209.55.43', port=10000)    # main node which runs hadoop which will connect
# conn = hive.Connection(host='35.209.163.173', port=10000) #- worker node 1 - this will not connect
# conn = hive.Connection(host='35.202.166.81', port=10000) #- worker node 2 - this will not connect

In [4]:
cursor = conn.cursor()

In [5]:
# Execute a simple query to test the connection
try:
    cursor.execute("SHOW DATABASES")

    # Fetch the results
    databases = cursor.fetchall()

    # Print the results to confirm the connection
    print("Connected successfully. Available databases:")
    for db in databases:
        print(db[0])

except Exception as e:
    print(f"Failed to connect to Hive: {e}")

Connected successfully. Available databases:
default
health_data

In [6]:
cursor = conn.cursor()

cursor.execute("USE health_data")

In [7]:
# Show tables in the health_data database
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

if tables:
    print("Tables in the 'health_data' database:")
    for table in tables:
        print(table[0])
else:
    print("No tables found in the 'health_data' database.")

Tables in the 'health_data' database:
medications
observations
patients

In [8]:
cursor.execute("DESCRIBE patients")
res = cursor.fetchall()
res

[('id', 'string', ''),
 ('birthdate', 'string', ''),
 ('deathdate', 'string', ''),
 ('ssn', 'string', ''),
 ('drivers', 'string', ''),
 ('passport', 'string', ''),
 ('prefix', 'string', ''),
 ('first', 'string', ''),
 ('last', 'string', ''),
 ('suffix', 'string', ''),
 ('maiden', 'string', ''),
 ('marital', 'string', ''),
 ('race', 'string', ''),
 ('ethnicity', 'string', ''),
 ('gender', 'string', ''),
 ('birthplace', 'string', ''),
 ('address', 'string', ''),
 ('city', 'string', ''),
 ('state', 'string', ''),
 ('county', 'string', ''),
 ('zip', 'string', ''),
 ('lat', 'double', ''),
 ('lon', 'double', ''),
 ('healthcare_expenses', 'double', ''),
 ('healthcare_coverage', 'double', '')]

In [9]:
cursor.execute("DESCRIBE medications")
res = cursor.fetchall()
res

[('start', 'string', ''),
 ('stop', 'string', ''),
 ('patient', 'string', ''),
 ('payer', 'string', ''),
 ('encounter', 'string', ''),
 ('code', 'string', ''),
 ('description', 'string', ''),
 ('base_cost', 'double', ''),
 ('payer_coverage', 'double', ''),
 ('dispenses', 'int', ''),
 ('totalcost', 'double', ''),
 ('reasoncode', 'string', ''),
 ('reasondescription', 'string', '')]

In [10]:
cursor.execute("DESCRIBE observations")
res = cursor.fetchall()
res

[('date', 'string', ''),
 ('patient', 'string', ''),
 ('encounter', 'string', ''),
 ('code', 'string', ''),
 ('description', 'string', ''),
 ('value', 'string', ''),
 ('units', 'string', ''),
 ('type', 'string', '')]

In [11]:
cursor.execute("SELECT FIRST, LAST, GENDER, CITY FROM patients LIMIT 20")
res = cursor.fetchall()
res

[('FIRST', 'LAST', 'GENDER', 'CITY'),
 ('Jacinto644', 'Kris249', 'M', 'Springfield'),
 ('Alva958', 'Krajcik437', 'F', 'Walpole'),
 ('Jimmie93', 'Harris789', 'F', 'Pembroke'),
 ('Gregorio366', 'Auer97', 'M', 'Boston'),
 ('Karyn217', 'Mueller846', 'F', 'Colrain'),
 ('Jayson808', 'Fadel536', 'M', 'Chicopee'),
 ('José Eduardo181', 'Gómez206', 'M', 'Chicopee'),
 ('Milo271', 'Feil794', 'M', 'Somerville'),
 ('Karyn217', 'Metz686', 'F', 'Medfield'),
 ('Jeffrey461', 'Greenfelder433', 'M', 'Springfield'),
 ('Mariana775', 'Gulgowski816', 'F', 'Lowell'),
 ('Leann224', 'Deckow585', 'F', 'Needham'),
 ('Isabel214', 'Hinojosa147', 'F', 'Fall River'),
 ('Christal240', 'Brown30', 'F', 'Boston'),
 ('Carmelia328', 'Konopelski743', 'F', 'Ashland'),
 ('Raye931', 'Wyman904', 'F', 'Quincy'),
 ('Lisbeth69', 'Rowe323', 'F', 'Malden'),
 ('Amada498', 'Spinka232', 'F', 'Foxborough'),
 ('Cythia210', 'Reichel38', 'F', 'Peabody')]

In [12]:
## lets look at what happens at the backend

In [ ]:
cursor.execute("SELECT COUNT(*) FROM patients")
res = cursor.fetchall()
res

[(124151,)]

In [ ]:
cursor.execute("SELECT COUNT(*) FROM medications")
res = cursor.fetchall()
res

[(4227724,)]

In [ ]:
cursor.execute("SELECT COUNT(*) FROM observations")
res = cursor.fetchall()
res

[(16219970,)]

## COUNT and DISTINCT
### If you want to count distinct values of a specific column, for example, distinct cities, you can modify the query as follows:

In [13]:
cursor.execute("SELECT COUNT(DISTINCT CITY) FROM patients")
res = cursor.fetchall()
res

[(352,)]

## The following query returns unique combinations of cities and genders from the patients table. If there are male and female patients from the same city, each city-gender pair will appear only once.

In [ ]:
cursor.execute("SELECT DISTINCT CITY, GENDER FROM patients")
res = cursor.fetchall()

In [ ]:
res[:10]

[('Acton', 'F'),
 ('Amesbury', 'F'),
 ('Amherst', 'F'),
 ('Ashburnham', 'F'),
 ('Ashfield', 'F'),
 ('Athol', 'F'),
 ('Auburn', 'F'),
 ('Avon', 'F'),
 ('Becket', 'F'),
 ('Bedford', 'F')]

## Filtering data based on a condition
### The WHERE clause filters records that fulfill a specified condition.
### e.g: Patients in City = 'Springfield';

In [ ]:
cursor.execute("SELECT FIRST, LAST, GENDER, CITY, PASSPORT FROM patients WHERE city = 'Springfield'")
res = cursor.fetchall()

In [ ]:
res[:10]

[('Jacinto644', 'Kris249', 'M', 'Springfield', ''),
 ('Jeffrey461', 'Greenfelder433', 'M', 'Springfield', ''),
 ('Sabina296', 'Flatley871', 'F', 'Springfield', 'X85058581X'),
 ('Theodora872', 'Johnson679', 'F', 'Springfield', 'X21164602X'),
 ('Lavera253', 'Anderson154', 'F', 'Springfield', 'X83686992X'),
 ('Golden321', 'Pollich983', 'F', 'Springfield', ''),
 ('Georgiann138', 'Greenfelder433', 'F', 'Springfield', 'X58134116X'),
 ('Fausto876', 'Bechtelar572', 'M', 'Springfield', ''),
 ('Talisha682', 'Brakus656', 'F', 'Springfield', 'X53645004X'),
 ('Golden321', 'Durgan499', 'F', 'Springfield', 'X49016634X')]

### Multiple conditions in Selection
### e.g 1: Female Patients in City = 'Springfield';

In [ ]:
cursor.execute("SELECT FIRST, LAST, GENDER, CITY FROM patients WHERE city = 'Springfield' AND gender = 'F'")
res = cursor.fetchall()

In [ ]:
res[:10]

[('Sabina296', 'Flatley871', 'F', 'Springfield'),
 ('Theodora872', 'Johnson679', 'F', 'Springfield'),
 ('Lavera253', 'Anderson154', 'F', 'Springfield'),
 ('Golden321', 'Pollich983', 'F', 'Springfield'),
 ('Georgiann138', 'Greenfelder433', 'F', 'Springfield'),
 ('Talisha682', 'Brakus656', 'F', 'Springfield'),
 ('Golden321', 'Durgan499', 'F', 'Springfield'),
 ('Jerrie417', 'Gislason620', 'F', 'Springfield'),
 ('Venus149', 'Hodkiewicz467', 'F', 'Springfield'),
 ('Refugia211', 'Wintheiser220', 'F', 'Springfield')]

### e.g. Nested selection; Female patients from City Springfield or Boston

In [ ]:
cursor.execute("SELECT FIRST, LAST, GENDER, CITY FROM patients WHERE gender = 'F' AND (city = 'Springfield' OR city = 'Boston')")
res = cursor.fetchall()

In [ ]:
res[:10]

[('Christal240', 'Brown30', 'F', 'Boston'),
 ('María Soledad68', 'Aparicio848', 'F', 'Boston'),
 ('Leslee214', 'Schumm995', 'F', 'Boston'),
 ('Sabina296', 'Flatley871', 'F', 'Springfield'),
 ('Manuela585', 'Lozada73', 'F', 'Boston'),
 ('Adrian111', 'Davis923', 'F', 'Boston'),
 ('Theodora872', 'Johnson679', 'F', 'Springfield'),
 ('Lavera253', 'Anderson154', 'F', 'Springfield'),
 ('Viola977', 'McGlynn426', 'F', 'Boston'),
 ('Rene434', 'Schinner682', 'F', 'Boston')]

### Filter on missing data
### Filtering on missing data is crucial for maintaining data integrity and ensuring accurate analysis by identifying and handling incomplete records effectively.
### Retrieve the first name, last name, gender, and city for all patients who are from Springfield and have a passport number recorded (i.e., the passport field is not empty).

In [ ]:
cursor.execute("SELECT FIRST, LAST, GENDER, CITY, PASSPORT FROM patients WHERE city = 'Springfield' AND PASSPORT IS NOT NULL")
res = cursor.fetchall()

In [ ]:
res[:10]

[('Jacinto644', 'Kris249', 'M', 'Springfield', ''),
 ('Jeffrey461', 'Greenfelder433', 'M', 'Springfield', ''),
 ('Sabina296', 'Flatley871', 'F', 'Springfield', 'X85058581X'),
 ('Theodora872', 'Johnson679', 'F', 'Springfield', 'X21164602X'),
 ('Lavera253', 'Anderson154', 'F', 'Springfield', 'X83686992X'),
 ('Golden321', 'Pollich983', 'F', 'Springfield', ''),
 ('Georgiann138', 'Greenfelder433', 'F', 'Springfield', 'X58134116X'),
 ('Fausto876', 'Bechtelar572', 'M', 'Springfield', ''),
 ('Talisha682', 'Brakus656', 'F', 'Springfield', 'X53645004X'),
 ('Golden321', 'Durgan499', 'F', 'Springfield', 'X49016634X')]

In [ ]:
query = """
SELECT `FIRST`, `LAST`, `GENDER`, `CITY`, `PASSPORT`
FROM patients
WHERE `CITY` = 'Springfield' AND `PASSPORT` IS NOT NULL AND `PASSPORT` <> '' AND `PASSPORT` <> ' '
"""
cursor.execute(query)
res = cursor.fetchall()

In [ ]:
res[:10]

[('Sabina296', 'Flatley871', 'F', 'Springfield', 'X85058581X'),
 ('Theodora872', 'Johnson679', 'F', 'Springfield', 'X21164602X'),
 ('Lavera253', 'Anderson154', 'F', 'Springfield', 'X83686992X'),
 ('Georgiann138', 'Greenfelder433', 'F', 'Springfield', 'X58134116X'),
 ('Talisha682', 'Brakus656', 'F', 'Springfield', 'X53645004X'),
 ('Golden321', 'Durgan499', 'F', 'Springfield', 'X49016634X'),
 ('Ty725', 'Schmeler639', 'M', 'Springfield', 'X22960735X'),
 ('Pilar644', 'Pouros728', 'F', 'Springfield', 'X21434326X'),
 ('Georgette866', 'Stark857', 'F', 'Springfield', 'X84034866X'),
 ('Annika454', 'Gutmann970', 'F', 'Springfield', 'X3275916X')]

### Filter and select in numeric range

### Patients in City = 'Springfield' where the HEALTHCARE_EXPENSES between 1.5M and 2M

In [ ]:
query = """
SELECT FIRST, LAST, GENDER, CITY FROM patients WHERE city = 'Springfield' AND HEALTHCARE_EXPENSES BETWEEN 1500000 AND 2000000
"""
cursor.execute(query)
res = cursor.fetchall()
res[:10]

[('Talisha682', 'Brakus656', 'F', 'Springfield'),
 ('Jerold208', 'Harber290', 'M', 'Springfield'),
 ('Dean966', 'Tillman293', 'M', 'Springfield'),
 ('Orval846', 'Cartwright189', 'M', 'Springfield'),
 ('Jacinto644', 'Abernathy524', 'M', 'Springfield'),
 ('Bethel526', 'Satterfield305', 'F', 'Springfield'),
 ('Dorene845', 'Botsford977', 'F', 'Springfield'),
 ('Lula998', 'Langosh790', 'F', 'Springfield'),
 ('Deeanna316', 'Koss676', 'F', 'Springfield'),
 ('Loriann967', 'Torp761', 'F', 'Springfield')]

### LIMIT¶
### LIMIT specifies the maximum number of records the query will return.

In [ ]:
query = """
SELECT FIRST, LAST, GENDER, CITY FROM patients LIMIT 20
"""
cursor.execute(query)
res = cursor.fetchall()
res

[('FIRST', 'LAST', 'GENDER', 'CITY'),
 ('Jacinto644', 'Kris249', 'M', 'Springfield'),
 ('Alva958', 'Krajcik437', 'F', 'Walpole'),
 ('Jimmie93', 'Harris789', 'F', 'Pembroke'),
 ('Gregorio366', 'Auer97', 'M', 'Boston'),
 ('Karyn217', 'Mueller846', 'F', 'Colrain'),
 ('Jayson808', 'Fadel536', 'M', 'Chicopee'),
 ('José Eduardo181', 'Gómez206', 'M', 'Chicopee'),
 ('Milo271', 'Feil794', 'M', 'Somerville'),
 ('Karyn217', 'Metz686', 'F', 'Medfield'),
 ('Jeffrey461', 'Greenfelder433', 'M', 'Springfield'),
 ('Mariana775', 'Gulgowski816', 'F', 'Lowell'),
 ('Leann224', 'Deckow585', 'F', 'Needham'),
 ('Isabel214', 'Hinojosa147', 'F', 'Fall River'),
 ('Christal240', 'Brown30', 'F', 'Boston'),
 ('Carmelia328', 'Konopelski743', 'F', 'Ashland'),
 ('Raye931', 'Wyman904', 'F', 'Quincy'),
 ('Lisbeth69', 'Rowe323', 'F', 'Malden'),
 ('Amada498', 'Spinka232', 'F', 'Foxborough'),
 ('Cythia210', 'Reichel38', 'F', 'Peabody')]

### ORDER BY and ASC¶
### This query returns the first 20 patients from the patients table, ordered alphabetically by their last name.

In [ ]:
query = """
SELECT FIRST, LAST, GENDER, CITY FROM patients ORDER BY LAST ASC LIMIT 20
"""
cursor.execute(query)
res = cursor.fetchall()
res

[('Alvaro283', 'Abbott774', 'M', 'Plymouth'),
 ('Seth414', 'Abbott774', 'M', 'Lawrence'),
 ('Jesus702', 'Abbott774', 'M', 'Boston'),
 ('Laine739', 'Abbott774', 'F', 'Agawam'),
 ('Cyril535', 'Abbott774', 'M', 'Millis'),
 ('Clement78', 'Abbott774', 'M', 'Chicopee'),
 ('Jim478', 'Abbott774', 'M', 'Dover'),
 ('Jc393', 'Abbott774', 'M', 'Westfield'),
 ('Jimmy858', 'Abbott774', 'M', 'Lowell'),
 ('Freddie621', 'Abbott774', 'M', 'Boston'),
 ('Jackqueline794', 'Abbott774', 'F', 'Randolph'),
 ('Grant908', 'Abbott774', 'M', 'Arlington'),
 ('Lauri399', 'Abbott774', 'F', 'Springfield'),
 ('Lelia627', 'Abbott774', 'F', 'Gloucester'),
 ('Bernetta267', 'Abbott774', 'F', 'Ware'),
 ('Rhona164', 'Abbott774', 'F', 'Stoneham'),
 ('Darrin898', 'Abbott774', 'M', 'Newton'),
 ('Carry843', 'Abbott774', 'F', 'Attleboro'),
 ('Miesha237', 'Abbott774', 'F', 'Stoneham'),
 ('Charles364', 'Abbott774', 'M', 'Brockton')]

### ORDER BY and DESC
### This query returns the first 20 patients from the patients table, ordered reverse alphabetically by their first name.

In [ ]:
query = """
SELECT FIRST, LAST, GENDER, CITY FROM patients ORDER BY FIRST DESC LIMIT 20
"""
cursor.execute(query)
res = cursor.fetchall()
res

[('Óscar156', 'Valenzuela371', 'M', 'Boston'),
 ('Óscar156', 'Ojeda263', 'M', 'Boston'),
 ('Óscar156', 'Sandoval902', 'M', 'Wilmington'),
 ('Óscar156', 'Castillo397', 'M', 'Holyoke'),
 ('Óscar156', 'Cabrera242', 'M', 'Newburyport'),
 ('Óscar156', 'Carrillo204', 'M', 'Methuen'),
 ('Óscar156', 'Bañuelos542', 'M', 'Brookline'),
 ('Óscar156', 'Ureña88', 'M', 'Bedford'),
 ('Óscar156', 'Vélez150', 'M', 'Boston'),
 ('Óscar156', 'Rendón540', 'M', 'Wilbraham'),
 ('Óscar156', 'Arias66', 'M', 'Cambridge'),
 ('Óscar156', 'Quiroz936', 'M', 'Springfield'),
 ('Óscar156', 'Candelaria844', 'M', 'Middleton'),
 ('Óscar156', 'Miranda712', 'M', 'Nahant'),
 ('Óscar156', 'Toro760', 'M', 'North Attleborough'),
 ('Óscar156', 'Dávila115', 'M', 'Melrose'),
 ('Óscar156', 'Santacruz647', 'M', 'Boston'),
 ('Óscar156', 'Carrillo204', 'M', 'Springfield'),
 ('Óscar156', 'Rodrígez614', 'M', 'Leominster'),
 ('Óscar156', 'Villareal516', 'M', 'Beverly')]

### Aggregating Data using GROUP BY
### Counting Patients by City

In [ ]:
query = """
SELECT CITY, COUNT(*) AS patient_count FROM patients GROUP BY CITY
"""
cursor.execute(query)
res = cursor.fetchall()

In [ ]:
res[:20]

[('Acushnet', 233),
 ('Adams', 167),
 ('Agawam', 541),
 ('Andover', 651),
 ('Aquinnah', 4),
 ('Arlington', 829),
 ('Ashburnham', 120),
 ('Ashby', 48),
 ('Ashland', 296),
 ('Athol', 193),
 ('Attleboro', 843),
 ('Ayer', 108),
 ('Barnstable', 869),
 ('Bellingham', 317),
 ('Belmont', 440),
 ('Berkley', 143),
 ('Bernardston', 32),
 ('Beverly', 778),
 ('Blackstone', 174),
 ('Bolton', 79)]

## Counting Patients by City and sorting them highest to lowest¶

In [ ]:
query = """
SELECT CITY, COUNT(*) AS patient_count FROM patients GROUP BY CITY ORDER BY patient_count DESC
"""
cursor.execute(query)
res = cursor.fetchall()
res[:30]

[('Boston', 11496),
 ('Worcester', 3263),
 ('Springfield', 2814),
 ('Cambridge', 2044),
 ('Lowell', 2027),
 ('Brockton', 1833),
 ('Lynn', 1714),
 ('New Bedford', 1706),
 ('Quincy', 1698),
 ('Newton', 1695),
 ('Fall River', 1608),
 ('Lawrence', 1505),
 ('Somerville', 1397),
 ('Framingham', 1270),
 ('Haverhill', 1189),
 ('Chicopee', 1151),
 ('Malden', 1137),
 ('Brookline', 1120),
 ('Waltham', 1115),
 ('Weymouth', 1079),
 ('Medford', 1042),
 ('Peabody', 975),
 ('Plymouth', 972),
 ('Revere', 964),
 ('Taunton', 961),
 ('Methuen', 898),
 ('Barnstable', 869),
 ('Everett', 867),
 ('Pittsfield', 851),
 ('Attleboro', 843)]

### Total Number of Patients by Gender in Each City

In [ ]:
query = """
SELECT CITY, GENDER, COUNT(*) AS total_patients FROM patients GROUP BY CITY, GENDER ORDER BY total_patients DESC LIMIT 10"""
cursor.execute(query)
res = cursor.fetchall()
res

[('Boston', 'F', 5840),
 ('Boston', 'M', 5656),
 ('Worcester', 'M', 1694),
 ('Worcester', 'F', 1569),
 ('Springfield', 'M', 1463),
 ('Springfield', 'F', 1351),
 ('Cambridge', 'M', 1023),
 ('Cambridge', 'F', 1021),
 ('Lowell', 'F', 1015),
 ('Lowell', 'M', 1012)]

## Lets look at another Table

In [ ]:
query = """
DESCRIBE observations"""
cursor.execute(query)
res = cursor.fetchall()
res

[('date', 'string', ''),
 ('patient', 'string', ''),
 ('encounter', 'string', ''),
 ('code', 'string', ''),
 ('description', 'string', ''),
 ('value', 'string', ''),
 ('units', 'string', ''),
 ('type', 'string', '')]

## Average Heart Rate by Patient

In [ ]:
query = """
SELECT PATIENT, ROUND(AVG(CAST(VALUE AS DECIMAL(10,6))), 2) AS average_heart_rate FROM observations WHERE DESCRIPTION LIKE '%Heart rate%' GROUP BY PATIENT ORDER BY average_heart_rate DESC LIMIT 20"""
cursor.execute(query)
res = cursor.fetchall()
res

[('8cea2d7e-6227-4924-a340-18eafb8564ac', Decimal('200.00')),
 ('6ec823e7-839e-4491-8b6f-6b275951b456', Decimal('200.00')),
 ('c10db4e1-de51-495f-98ab-8322c6d9550a', Decimal('200.00')),
 ('0191f8aa-96dc-41e6-b718-312686a7a867', Decimal('200.00')),
 ('ff2209f2-a4c9-4737-9aa7-adc8d71b6961', Decimal('200.00')),
 ('b0112890-a24a-4564-b2b3-9b77879e5e79', Decimal('199.90')),
 ('04dd3439-2116-4f9a-b40e-a84395cf6f21', Decimal('199.90')),
 ('18f53179-2449-47af-b4da-a9e51095076f', Decimal('199.90')),
 ('9cc52681-4446-4e4a-80be-63418dd06e66', Decimal('199.90')),
 ('46ea7226-63f6-404f-bbed-904ea39f706d', Decimal('199.90')),
 ('a05e3bd1-1c51-453a-9969-646cb0168d23', Decimal('199.90')),
 ('c3d165d2-597e-45a8-8331-f3338ce19fdf', Decimal('199.90')),
 ('ec1ce32c-57a3-44c4-8f64-e050f2f94e03', Decimal('199.90')),
 ('bd6784c0-3529-4a12-87bd-746affb17739', Decimal('199.80')),
 ('2d4f57ee-4001-44f8-9a94-c1885f26b408', Decimal('199.80')),
 ('3e5c63bf-65fe-48bb-8361-6b21a909888a', Decimal('199.80')),
 ('371e14a1-31bd-4407-bdbb-4078781fde05', Decimal('199.80')),
 ('423f79cf-f7b8-41cd-bb3c-8459084f88eb', Decimal('199.80')),
 ('464fe06b-e0a4-427c-89dd-f8647537c859', Decimal('199.70')),
 ('7ce77bba-98c3-4eb7-8fd7-4a9a7a9074d8', Decimal('199.70'))]

## Lets look at another table

In [ ]:
query = """
DESCRIBE medications"""
cursor.execute(query)
res = cursor.fetchall()
res

[('start', 'string', ''),
 ('stop', 'string', ''),
 ('patient', 'string', ''),
 ('payer', 'string', ''),
 ('encounter', 'string', ''),
 ('code', 'string', ''),
 ('description', 'string', ''),
 ('base_cost', 'double', ''),
 ('payer_coverage', 'double', ''),
 ('dispenses', 'int', ''),
 ('totalcost', 'double', ''),
 ('reasoncode', 'string', ''),
 ('reasondescription', 'string', '')]

## Top 10 Most Common Vaccine Administered

In [ ]:
query = """
SELECT DESCRIPTION, COUNT(*) AS count FROM medications GROUP BY DESCRIPTION ORDER BY count DESC LIMIT 10
"""
cursor.execute(query)
res = cursor.fetchall()
res

[('Hydrochlorothiazide 25 MG Oral Tablet', 524631),
 ('insulin human  isophane 70 UNT/ML / Regular Insulin  Human 30 UNT/ML Injectable Suspension [Humulin]',
  499654),
 ('amLODIPine 5 MG / Hydrochlorothiazide 12.5 MG / Olmesartan medoxomil 20 MG Oral Tablet',
  373385),
 ('Atenolol 50 MG / Chlorthalidone 25 MG Oral Tablet', 362902),
 ('24 HR Metformin hydrochloride 500 MG Extended Release Oral Tablet', 348524),
 ('Simvastatin 10 MG Oral Tablet', 260438),
 ('NDA020503 200 ACTUAT Albuterol 0.09 MG/ACTUAT Metered Dose Inhaler',
  247887),
 ('120 ACTUAT Fluticasone propionate 0.044 MG/ACTUAT Metered Dose Inhaler',
  236707),
 ('Hydrochlorothiazide 12.5 MG', 196494),
 ('Nitroglycerin 0.4 MG/ACTUAT Mucosal Spray', 131735)]

## JOINS

## INNER JOIN - Find Matching Records
### Question: Which medical treatments have been administered to patients, including the patient's name and the cost of each treatment?

In [ ]:
query = """
SELECT patients.FIRST, patients.LAST, medications.DESCRIPTION, medications.BASE_COST FROM medications INNER JOIN patients ON medications.PATIENT = patients.Id ORDER BY patients.FIRST ASC"""
cursor.execute(query)
res = cursor.fetchall()
res[:10]

[('Aaron697', 'Swaniawski813', 'Hydrochlorothiazide 12.5 MG', 263.49),
 ('Aaron697', 'Swaniawski813', 'Hydrochlorothiazide 12.5 MG', 263.49),
 ('Aaron697', 'Swaniawski813', 'Hydrochlorothiazide 12.5 MG', 263.49),
 ('Aaron697', 'Swaniawski813', 'Hydrochlorothiazide 12.5 MG', 263.49),
 ('Aaron697', 'Swaniawski813', 'Hydrochlorothiazide 12.5 MG', 263.49),
 ('Aaron697', 'Swaniawski813', 'Hydrochlorothiazide 12.5 MG', 263.49),
 ('Aaron697', 'Swaniawski813', 'Hydrochlorothiazide 12.5 MG', 263.49),
 ('Aaron697', 'Swaniawski813', 'Hydrochlorothiazide 12.5 MG', 263.49),
 ('Aaron697', 'Swaniawski813', 'Hydrochlorothiazide 12.5 MG', 263.49),
 ('Aaron697', 'Swaniawski813', 'Hydrochlorothiazide 12.5 MG', 263.49)]

## String Functions

## CONCAT: Concatenates two or more strings.

In [ ]:
query = """
SELECT CONCAT(FIRST, ' ', LAST) AS FullName FROM patients LIMIT 10
"""
cursor.execute(query)
res = cursor.fetchall()
res[]

[('FIRST LAST',),
 ('Jacinto644 Kris249',),
 ('Alva958 Krajcik437',),
 ('Jimmie93 Harris789',),
 ('Gregorio366 Auer97',),
 ('Karyn217 Mueller846',),
 ('Jayson808 Fadel536',),
 ('José Eduardo181 Gómez206',),
 ('Milo271 Feil794',),
 ('Karyn217 Metz686',)]

## DATALENGTH: Returns the number of bytes used to represent any expression.

In [ ]:
query = """
SELECT FIRST, LENGTH(FIRST) AS LengthInBytes FROM patients LIMIT 10
"""
cursor.execute(query)
res = cursor.fetchall()
res[1:]

[('Jacinto644', 10),
 ('Alva958', 7),
 ('Jimmie93', 8),
 ('Gregorio366', 11),
 ('Karyn217', 8),
 ('Jayson808', 9),
 ('José Eduardo181', 15),
 ('Milo271', 7),
 ('Karyn217', 8)]

# Hadoop Filesystem - demo only

In [ ]:
## HDFS File System Check (fsck)

hdfs fsck /
hdfs fsck /user/hive/warehouse -files -blocks -locations

## The first command checks the entire file system, while the second one checks a specific directory and lists all files, blocks, and their locations.

In [ ]:
## HDFS Status (dfsadmin)
## The hdfs dfsadmin command provides various administrative options. For checking the status of the HDFS, you can use:

hdfs dfsadmin -report

#  Thank you! :)